.material-glass {
    background: rgba(226, 236, 255, 0.487);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid var(--boder-color);
    box-shadow: 0 4px 6px var(shadow-color);
}

/* Main */
.material-button-main {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--secondary-color);
    text-align: center;
    transition: all 0.1s ease;
}

.material-button-icon-main {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--secondary-color);
    text-align: center;
    transition: all 0.1s ease;
    flex: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Outline */
.material-button-main-outline {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    color: var(--primary-color);
    text-align: center;
    transition: all 0.1s ease;
}


/* Transparent */
.material-button-icon-transparent {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--primary-color);
    text-align: center;
    transition: all 0.1s ease;
    flex: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Link */
.material-button-link {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 2px;
    color: var(--primary-color);
    text-align: center;
    transition: all 0.1s ease;
    text-decoration: none;
}

/* Icon Buttons svg */
.material-button-icon-main svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: var(--secondary-color);
}

.material-button-icon-transparent svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: var(--primary-color);
}

/* Sizes */
/* Small */
.material-button-icon-main.small, .material-button-main-outline.small, .material-button-icon-transparent.small {
    padding: 5px;
}

.material-button-icon-main.small, .material-button-main-outline.small, .material-button-icon-transparent.small {
    width: 25px;
    height: 25px;
    padding: 7px;
    border-radius: 5px;

}

/* Medium */
.material-button-icon-main.medium, .material-button-main-outline.medium, .material-button-icon-transparent.medium {
    padding: 10px;
}

.material-button-icon-main.medium, .material-button-main-outline.medium, .material-button-icon-transparent.medium {
    width: 30px;
    height: 30px;
    padding: 7px;
}

/* Large */
.material-button-icon-main.large, .material-button-main-outline.large, .material-button-icon-transparent.large {
    padding: 12px;
}

.material-button-icon-main.large, .material-button-main-outline.large, .material-button-icon-transparent.large {
    width: 40px;
    height: 40px;
    padding: 7px;
}

/* Hover */
.material-button-icon-transparent:hover, .material-button-main-outline:hover {
    background-color: var(--no-background-color-hover);
    cursor: pointer;
}

.material-button-main:hover, .material-button-icon-main:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

.material-button-link:hover {
    cursor: pointer;
    background-color: var(--primary-color-without-background-hover);
    text-decoration: underline;
}

/* Ativo */
.material-button-icon-transparent:active, .material-button-main-outline:active {
    background-color: var(--no-background-color-active);
}

.material-button-main:active, .material-button-icon-main:active {
    background-color: var(--primary-color-active);
}

.material-button-link:active {
    cursor: pointer;
    background-color: var(--primary-color-without-background-active);
}

/* Desabilitado */
.material-button-main:disabled, .material-button-icon-main:disabled, .material-button-icon-transparent:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}