.material-textbox {
    padding: 5px;
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid color-mix(in srgb, var(--text-color), transparent 60%);
    background-color: transparent;
}

.material-textbox.full-w{
    width: 100%;
}

.material-textbox:focus {
    outline: none;
    border-color: var(--primary-color);
}
